body {
    background-color: lightyellow;
}

h1 {
    color: black;
    font-weight: bold;
}

hr.one {
    border: 1px solid black;
    border-radius: 1px;
}

table,th,td
{
    border:1px solid black;
    border-radius: 10px;
    text-align: center;
}

.inline

{
    display: inline

}