/*Sets the color of the webpage body*/
body {
    
    background-color: white;
}

/*Sets the size and color of the header*/
.TermHeader {
    height: 60px;
    background: rgb(0, 89, 134);
    width: 100%;
    margin: auto;
    padding: 10px;
    
}

/*Sets the color and font type of all h2 tags*/
h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

/*Sets the color and font type of all h3 tags */
h3 {
    color: rgb(0, 89, 134);
    font-family: Arial, Helvetica, sans-serif;
}

/*Sets input border style and input size*/
input {
    border-radius: 50px;
    border-color: rgb(0, 89, 134);
    height: 30px;
    width: 200px;
    font-size: 15px;
    margin: auto;
}

/*Sets the button border style and button size*/
button {
    border-radius: 50px;
    border-color: rgb(0, 89, 134);
    height: 30px;
    width: 120px;
    font-size: 15px;
    margin:auto;
}

/*Creates a Contaner class to put the results of the javascript API in*/
.container {
    background-color: lightcyan;
    width: 1400px;
    height: auto;
}

/*Creates an id for results and sets it to flex with flex-wrap*/
#results {
    display: flex;
    justify-content: left;
    float: left;
    flex-wrap: wrap;
    margin-inline: auto;
        
}

/*Creates a box class to place a box around the results and sets the box class border style*/
.box {
    border: solid rgb(0, 89, 134);
    border-radius: 5%;
    margin-inline: auto;
    margin-left: 2px;
    background-color: white;
    background-image: linear-gradient(lightskyblue, white);
    width: 20%;
    height: 20%;
}

/*Creates a box class to place a border or box around the current weather API data*/
.currentbox {
    float: left;
    justify-content: left;
    border: solid rgb(0, 89, 134);
    border-radius: 5%;
    background-color: lightskyblue;
    background-image: linear-gradient(lightskyblue, white);
    opacity: 5;
    width: auto;
    height: auto;
}

/*creates a class to set the horizontal line color and width*/
.line {
    border: 1px solid blue;
    width: 100%;
}

/*.input-wrapper {
    position: relative;
    display: inline-block;
}

    .input-wrapper input {
        padding-right: 30px;
    }

    .input-wrapper button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }


*/